<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="cmd.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="cmd.commands.category"
            id="cmd.commands.ip0"
            name="192.168.1.100">
      </command>
      <command
            categoryId="cmd.commands.category"
            id="cmd.commands.ip1"
            name="192.168.1.101">
      </command>
      <command
            categoryId="cmd.commands.category"
            id="cmd.commands.ip2"
            name="192.168.1.102">
      </command>
      <command
            categoryId="cmd.commands.category"
            id="cmd.commands.ip3"
            name="192.168.1.103">
      </command>
      <command
            categoryId="cmd.commands.category"
            id="cmd.commands.ipTAB"
            name="192.168.107.132">
      </command>
      <command
            categoryId="cmd.commands.category"
            id="cmd.commands.kill"
            name="ADB kill-server">
      </command>
   </extension>
	<extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="cmd.commands.ip0"
            class="com.dvd.eclipse.adb.actions.IP100">
      </handler>
      <handler
            commandId="cmd.commands.ip1"
            class="com.dvd.eclipse.adb.actions.IP101">
      </handler>
      <handler
            commandId="cmd.commands.ip2"
            class="com.dvd.eclipse.adb.actions.IP102">
      </handler>
      <handler
            commandId="cmd.commands.ip3"
            class="com.dvd.eclipse.adb.actions.IP103">
      </handler>
      <handler
            commandId="cmd.commands.ipTAB"
            class="com.dvd.eclipse.adb.actions.IPtab">
      </handler>
      <handler
            commandId="cmd.commands.kill"
			class="com.dvd.eclipse.adb.actions.Kill">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cmd.commands.ip1"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="cmd.commands.kill"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+K"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?after=project">
         <menu
               id="cmd.menus.mainMenu"
               label="ADB"
               mnemonic="A">
            <menu
                  id="cmd.menus.adbConnectMenu"
                  label="ADB connect"
                  mnemonic="C">
               <command
                     commandId="cmd.commands.ip0"
                     id="cmd.commands.ip0"
                     label="192.168.1.100">
               </command>   
               <command
                     commandId="cmd.commands.ip1"
                     id="cmd.menus.adbConnectMenu"
                     label="192.168.1.101">
               </command> 
               
               <command
                     commandId="cmd.commands.ip2"
                     id="cmd.menus.adbConnectMenu"
                     label="192.168.1.102">
               </command> 
               <command
                     commandId="cmd.commands.ip3"
                     id="cmd.menus.adbConnectMenu"
                     label="192.168.1.103">
               </command> 
               <command
                     commandId="cmd.commands.ipTAB"
                     id="cmd.menus.adbConnectMenu"
                     label="192.168.107.132">
               </command>             
            </menu>
            <command
                  commandId="cmd.commands.kill"
                  id="cmd.actions.IP100"
                  label="ADB kill-server">
            </command>
         </menu>
      </menuContribution>
   </extension>


</plugin>
